#root {
  max-width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}
.encabezado {
 position: fixed;          
  top: 0;
  left: 0;
  width: 100vw;
  height: 150px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 4rem;
  box-sizing: border-box;

  background-color: #e7fdff;
  z-index: 1000;
}


.menu {
  flex: 3;                     
  display: flex;
  justify-content: center;
}

.logo {
  flex: 0.5;                     
  display: flex;
  align-items: center;
  justify-content: center;    
}

.logo img {
  height: 120px;
  width: auto;
  display: block;
}


.menu ul {
  display: flex;
  gap: 3rem;                  
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  cursor: pointer;
  font-weight: 500;
}

.menu li:hover {
  color: #858bff;
}

.redes {
  flex: 1;
  display: flex;
  flex-direction: row;   
  justify-content: flex-end;   
  gap: 1rem;
  align-items: center;
}

.redes img {
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.redes img:hover {
  transform: scale(1.15);
}